name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    strategy:
      matrix:
        terraform: [ ~0.13.0, ~0.14.0 , ~0.15.0, ~1.0.0 ]
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ matrix.terraform }}

      - run: make fmt validate

      - name: Terraform security scan
        uses: aquasecurity/tfsec-pr-commenter-action@v1.0.5
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
